/* #carouselExampleControls{
    height: 400px !important;
}
.carousel-inner{
    height: 400px !important;
} */

.segundo-bloco{
    margin-top: 50px;
}

.terceiro-bloco{
    margin-top: 50px;
}


/* referente ao terceiro bloco para ter o texto em cima da imagem */
#container {
    display: inline-block;
    position: relative;
    opacity: 0.9;
  }
/* ibidem */
 #container figcaption {
    position: absolute;
    top: 145px;
    right: 20px;
    font-size: 40px;
    color: white;
    text-shadow: 0px 0px 5px black;
  }

  #container:hover{
    opacity: 1;
  }